<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Scripts/base/base.css" />
    <link rel="stylesheet" href="~/Scripts/twitter-bootstrap/css/bootstrap.min.css" />
    <script src="~/Scripts/twitter-bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
